@font-face {
    font-family: '8bitoperator JVE';
    src: url('asset/font/8bitoperator-JVE.woff');
}
@font-face {
    font-family: '8bitoperator Reg';
	font-size: 100%;
    src: url('asset/font/8bitOperatorPlus-Regular.woff');
}

body {
    background-image: url('asset/bg.gif');
	background-size: cover;
	width:612px;
    color: white;
    font-family: '8bitoperator JVE';
    text-align:center;
	margin-left: auto;
    margin-right: auto;
	background-color: black;
}
img {
    image-rendering: pixelated;
}

/*bg*/
.bg {
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	margin-left: auto; 
	margin-right: auto;
	overflow: hidden;
	float: center;
	position: absolute;
	width: 960px;
	z-index: 1;
	visibility: visible;
}

/*logo*/
.logo {
	position: absolute;
	left: 0; 
	right: 0;
	top: 540px;
	margin-left: auto; 
	margin-right: auto; 
	width: 826px;
	z-index: 3;
}
.logo-br {
	line-height: 640px;
}
@media screen and (max-width: 960px) {
	body {
		background-image: url('asset/bg.gif');
		background-size: cover;
		width:406px;
		color: white;
		font-family: '8bitoperator JVE';
		text-align:center;
		margin-left: auto;
		margin-right: auto;
		background-color: black;
	}
	.bg {
		visibility: hidden;
	}
	.logo {
		position: absolute;
		left: 0; 
		right: 0;
		top: 20px;
		margin-left: auto; 
		margin-right: auto; 
		width: 480px;
		z-index: 3;
	}
	.logo-br {
		line-height: 70px;
	}
}

/*updates*/
.upd-head {
	margin: auto;
	width: 480px;
	text-align: center;
	font-family: '8bitoperator JVE';
	font-size: 260%;
    margin-bottom: 10px;
	margin-top: 10px;
}
.upd-body {
	margin: auto;
	width: 436px;
}
button {
	background-color: black;
	font-family: '8bitoperator JVE';
	font-size: 100%;
	text-align: center;
	width: 100%;
	margin-top: 15px;
	color: white;
	border: 3px solid white; 
}button:hover {
	background-color: black;
	font-family: '8bitoperator JVE';
	font-size: 100%;
	text-align: center;
	width: 100%;
	margin-top: 15px;
	color: white;
	border: 3px solid yellow; 
}

/*articles*/
.art-body {
	margin: auto;
	width: 480px;
	text-align: left;
	font-family:'8bitoperator Reg';
	font-size:16px;

}
.art-image {
	margin: auto;
	width: 500px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.signature {
	float: right;
	margin: auto;
	width: 150px;
	line-height: 45px;
}
.signature2 {
	float: center;
	padding-top: 40px;
	padding-left: 25px;
	padding-right:25px;
	margin: auto;
	width: 200px;
	line-height: 45px;
}

/*faq*/
.faq-head {
	margin: auto;
	width: 90px;
	text-align: left;
	font-size: 270%;
    margin-bottom: 10px;
	margin-top: 10px;
}
.faq-body {
	margin: auto;
	width: 436px;
	text-align: left;
}
.faq-q {
	padding-top: 10px;
	font-size: 28px;
	text-indent: -20px;
} .faq-q:before {
	content: 'Q: ';
	font-family: '8bitoperator JVE';
}
.faq-a {
	padding-bottom: 10px;
	font-size: 14px;
	text-indent: -14px;
	font-family: '8bitoperator Reg';
} .faq-a:before {
	font-size: 18px;
	content: 'A: ';
	font-family: '8bitoperator JVE';
}
.faq-issue {
	font-size: 28px;
} .faq-issue:before {
	content: 'Issue: ';
	font-family: '8bitoperator JVE';
	font-size: 24px;
	color: red;
}
.faq-resolve {
	font-size: 14px;
	font-family: 'Apple Kid';
} .faq-resolve:before {
	content: 'Resolve: ';
	color: lime;
}

/*links*/
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: yellow;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
  
footer {
    color: #666666;
    font-family: '8bitoperator JVE';
    font-size: 50%;
	vertical-align: bottom;
	padding-top: 26px;
	margin-bottom: 25px;
}